body {
    background-color: rgb(0, 0, 0);
}

.container {
    padding: 20px;
}

.container h1 {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100px;
    font-family: 'Google sans';
}

.container h6 {
    padding: 0px;
    text-align: center;
    font-family: 'google sans';
    color: white;
}

.search {
    padding: 20px;
    text-align: center;
}

.search input[type="text"] {
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: 'Google sans';

    border: 2px solid rgb(255, 255, 255);
    border-color: rgb(166, 166, 166);
    padding: 20px 25px;
    border-radius: 100px;
    outline: none;

    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.search input[type="text"]:focus {
    border-color: rgb(11, 0, 158);
}

.gemini {
    text-align: center;
    padding-top: 10px;
}

.gemini a {

    display: inline-block;
    font-size: smaller;
    text-decoration: none;
    color: white;
    font-family: 'google sans';
    border: 2px solid transparent;
    border-radius: 100px;

    padding: 10px 20px;
    transition: border-color 0.5s ease;

    background-image:
        linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
        linear-gradient(45deg, #4285f4, #9b51e0, #ea4335);

    background-origin: border-box;
    background-clip: padding-box, border-box;

    transition: transform 0.2s ease;

}

.gemini a:hover {
    transform: scale(1.05);
}